.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #1abc9c; /* green background */
    color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
    font-size: 40px;
}


a:link,a:visited,.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus,a:hover,a:active,.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
	color:#3498db;
}

.navbar{
    width:100%;
}

.navbar-default {
    background: rgba(255, 255, 255, 0.85);
    border: none;
    color:#777;
    text-transform: uppercase;
    display: inline-block;
    text-align:center;
    position:fixed;
}

.navbar-nav{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
    float:none;
    font-size: 1em;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
}

.navbar .navbar-brand img {
	height:30px;
}

.footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
}

.content {
	text-align: center;
	
}

.justifiedcontent {
	text-align: justify;
	
}

.contactIcons {
	flex: 33%;
	max-width: 33%;
	max-height: 225px;
	padding: 0 4px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.slideshow {
	align: center;
}
